<app-header></app-header>
<div class="breadcumb">
    <div class="row">
      <p><b>También puede interesarte:</b> computadora - canaima - antminer9 - laptop canaima - canaima letras rojas</p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p><a [routerLink]="['../../home']">Volver al listado</a> | <a>Computación</a> >  <a>Accesorios para PC Gaming</a> > <a>audifonos</a></p>
      </div>
      <div class="col-md-6 text-end not-allowed">
        <p><a>Compartir</a> | <a>Vender uno igual</a></p>
      </div>
    </div>
</div>
<div class="container">

  <div class="row align-items-center">
    <div class="col-md-8 ">
      <div class="imagen" *ngFor="let producto of productos">
        <img  *ngIf="prodID==producto.id" [src]="producto.img" class="img-fluid" alt="{{producto.nombre}}">
      </div>

    </div>
    <div class="col-md-4">
      <div class="card" *ngFor="let producto of productos">
        <div class="card-cont" *ngIf="prodID==producto.id">
          <mat-card class="lista primary">
            <mat-card-header>
              <mat-card-subtitle class="gray">
                Nuevo | 202 vendidos
              </mat-card-subtitle>
              <mat-card-title>{{producto.nombre}}</mat-card-title>
              <mat-card-subtitle class="fs-4">
                <ngb-rating class="blue " [max]="5"></ngb-rating> <span class="gray fs-6">9 opiniones</span>
              </mat-card-subtitle>
              <button class="favorite" mat-icon-button>
                <mat-icon aria-hidden="false" aria-label="Example favorite icon" fontIcon="favorite">favorite_outline</mat-icon>
              </button>
            </mat-card-header>
            <mat-card-content>
              <h1>Bs. {{producto.precio}}</h1>
              <a href="#" class="link-primary">Ver medios de pago</a>
              <p class="envio" *ngIf="producto.tipoEnvio=='Gratis'" style="color: #18AE60">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="local_shipping">local_shipping</mat-icon>Envío Gratis a todo el país
              </p>
              <p class="gray location">
                Ubicación <br>
                <a href="" class="link-primary">Ver costos de envío</a>
              </p>
              <p>
                Color: <b>Negro</b>
              </p>
              <p>Cantidad: <b>1 unidad</b> <mat-icon class="more" aria-hidden="false" aria-label="Example home icon" fontIcon="expand_more">expand_more</mat-icon>
              <span class="gray">(8 disponibles)</span>
              </p>
            </mat-card-content>
            <mat-card-actions class="d-grid gap-2">
              <button mat-button class="btn  btn-primary me-2">Comprar Ahora</button>
            </mat-card-actions>
          </mat-card>
        </div>

      </div>


    </div>
  </div>

</div>
