<div class="ofertas">
  <div *ngFor="let producto of productos" class="producto">
    <mat-card class="example-card">

      <img mat-card-image [src]="producto.imagenURL" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <mat-card-title>{{producto.nombre}}</mat-card-title>
        <mat-card-subtitle>Bs. {{producto.precio}}</mat-card-subtitle>

        <p class="envio" *ngIf="producto.tipoEnvio=='Gratis'" style="color: #18AE60">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="local_shipping">local_shipping</mat-icon>Envío Gratis
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
