<header class="container-header">
  <div class="fila row-1">
    <div class="logo">
      <img src="../../../assets/img/logo__large_plus.png" width="134px" height="34px">
    </div>
    <div>
      <form class="nav-buscar" action="#">
        <input type="text" class="nav-buscar-input"
        name="as_word" placeholder="Buscar productos, marcas y más…"
        maxlength="120" autofocus=""
        autocapitalize="off"
        autocorrect="off" spellcheck="false"
        autocomplete="off" tabindex="2"
        value="" aria-activedescendant=""
        id="input-search">
        <button type="submit"
        class="nav-buscar-btn"><img src="../../../assets/img/lupa.png" width="16px" height="16px"></button>

      </form>
    </div>
    <div>
      <a href="#">
        <img src="../../../assets/img/img-delivery.png" width="330px" height="30px">
      </a>
    </div>
  </div>
  <div class="fila row-2 ">
    <div class="nav-menu nav-category">

        <ul class="nav-menu-lista">
          <li class="nav-menu-it"><a href="#">Categorias <img src="../../../assets/img/flecha-hacia-abajo.png" width="8px" height="8px"></a></li>
          <li class="nav-menu-it"><a href="#">Historial</a></li>
          <li class="nav-menu-it"><a href="#">Tiendas Oficiales</a></li>
          <li class="nav-menu-it"><a href="#">Ofertas de la Semana</a></li>
          <li class="nav-menu-it"><a href="#">Vender</a></li>
          <li class="nav-menu-it"><a href="#">Ayuda</a></li>
        </ul>
    </div>
    <div class="nav-user">
      <nav class="nav-menu">
        <ul class="nav-menu-lista">
          <li class="nav-menu-it"><a href="#"><img src="../../../assets/img/usuario.png" width="20px" height="20px">Anthony<img src="../../../assets/img/flecha-hacia-abajo.png" width="8px" height="8px"></a></li>
          <li class="nav-menu-it"><a href="#">Mis Compras</a></li>
          <li class="nav-menu-it"><a href="#">Favoritos <img src="../../../assets/img/flecha-hacia-abajo.png" width="8px" height="8px"></a></li>
          <li class="nav-menu-it"><a href="#"><img src="../../../assets/img/campana.png" width="20px" height="20px"></a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
